
ul {
	list-style: none;
}

#wrapper {
	width: 1020px;
	margin: auto;
}
#big-picture {
	width: inherit;
	height:300px;
	background: lightgrey;
	margin-bottom: -10;
}
#top-menu {

	margin: 0 auto;
}
#top-menu li {
	display: inline-block;
	width: 15%;
	border: 1px solid lightgrey;
	text-align: center;
	padding: 20px;
	margin-left: -5px;
	margin-top: -16px;
}
#left-corner {
	border-bottom-left-radius: 8px;
}
#right-corner {
	border-bottom-right-radius: 8px;
}
#api-row {
	height:	150px;
}
.api-panel {
	background: lightgrey;
}

#main-body {
	width: 65%;
	display: inline-block;
	background: lightgrey;
	margin-right: 2%;
	height: 800px;

}
#right-full-panel{
	width: 32%;
	display: inline-block;
	vertical-align: top;
	background: lightblue;
}
