
body {
	background-image: url("assets/backgrounds/concrete-seamless.png");
	background-repeat: repeat;
}
ul {
	list-style: none;
}

#wrapper {
	width: 1020px;
	margin: auto;
}

#big-picture {
	width: inherit;
	height:328px;
	background: lightgrey;
	margin-bottom: -10;
	clear: both;
}

#big-picture img {
	width: 1020px;
	height: 328px;
}

#top-menu {
	margin: 0 auto;
	text-decoration: none;
	background-color: black;
    height: 44px;
}


#ul-top-menu {
	height: 30px;
	padding: 0;
	margin-top: 0px;
	padding-right: 5px;
	padding-left: 5px;
}


#top-menu li {
	display: inline-block;
    width: 15%;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    height: 5%;
    margin-right: 5px;
    color: white;
    font-weight: bold;
}



#top-menu a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#top-menu a:hover {
	text-decoration: none;
	color: #b90f0f;
	font-weight: bold;
}

#top-menu a:hover li {
	border-top: 3px solid #b90f0f;
}

#left-corner {
	border-bottom-left-radius: 8px;
}
#right-corner {
	border-bottom-right-radius: 8px;
}
#api-row {
	width: 1050px;
	padding-top: 10px;
	padding-left: 22px;
}
.api-panel {
	display: inline-block;
	width: 30%;
	margin-right: 1%;
	margin-bottom: 20px;
	height: 240px;
	background: white;
	float: left;
}

.redAPI {
	border: 3px solid #b90f0f;
	border-radius: 5px;
}
.locationBoxH4 {
	text-align: center;
	bottom-border: 1px solid #CECECE;
}
.locationBox {
	font-size: 10px;
	color: black;
	text-align: center;
}
#lower-body {
	width: 1050px;
}

#left-full-panel {
	width: 69%;
	display: inline-block;
	background: lightgrey;
	margin-right: 2%;
	height: 1400px;

}
#right-full-panel{
	width: 25%;
	display: inline-block;
	vertical-align: top;
	background: white;
	border: 3px solid #b90f0f;
	border-radius: 5px;
}

#right-full-panel img {
	height: 200px;
	width: 200px;
}

#foods {


.food-photo {
	height: 200px;
	width: 200px;
	background: pink;
	margin-left: -10px;
	margin-bottom: 20px;
}


#logo {
	height: 200px;
	width: 200px;
	background: grey;
	margin-left: 30px;
	margin-bottom: 20px;
}

.icon {
	display: inline-block;
	margin-right: 15px;
}
