#main {
	width: 80%;
}
#big-picture {
	width: inherit;
	height:400px;
}
#top-menu {
	width: inherit;
	height: 50px;
}
#api-row {
	height:	150px;
}
#main-body {
	width: 65%;
}
#food-pics{
	width: 25%;
}
